<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://triggerpfa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/097733a3-1373-4f27-b082-e9cfa4d3ed61/resourceGroups/powerautomat/providers/Microsoft.Web/sites/triggerpfa</ResourceId>
    <UserName>$triggerpfa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://triggerpfa.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArLirePEw1UuGJCitHRbx0AAAAAACAAAAAAADZgAAwAAAABAAAAClcy+Hzgt6o55kYPUOll/eAAAAAASAAACgAAAAEAAAAD55DuT6UuGepiy9ABlh3PmAAAAAPVVLUN8aZoQj/z/MJ+frgHir9fIzZQFleIctzb0sjQm7aH5no7pqLXJSdZHnIWG6QHwkEulNuLdMkPkLOBdYoyLu+/8+DpOMm8SiC4LH19jHG6Pjmj3cTSjL+7WJEqS+9EwUnHMAR+V4pR7UPAOV+69Fx9zLzHy664kaa6jXzBsUAAAAePPn4Q/DXB61S2zaa9N/+V0znFs=</EncryptedPassword>
    <History>False|2024-03-26T15:41:15.6774564Z;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>